
<div class="tituloBox" style="margin-top:150px">

    <h2><span>Desarrollador de aplicaciones web</span><br></h2>
    <h2>Angular, Java, Spring Boot, React</h2>
 
    <p class="frase"><span></span>Fullstack developer</p>
     <a [routerLink]="['/proyectos']">¡Echa un ojo a mis proyectos!</a>
</div>

<app-south-logo></app-south-logo>


<ul class="redesSociales">
  <li>
    <a href="mailto:tjangelt@gmail.com" target="_blank" rel="noopener noreferrer">
      <ion-icon name="mail-unread-outline"></ion-icon>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/juan-angel-r-777123189/" target="_blank" rel="noopener noreferrer">
      <ion-icon name="logo-linkedin"></ion-icon>
    </a>
  </li>
  <li>
    <a href="https://github.com/mJangelm?tab=repositories" target="_blank" rel="noopener noreferrer">
      <ion-icon name="logo-github"></ion-icon>
    </a>
  </li>
</ul>





